@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: #7F56D9;
    --color-primary-hover: #6941C6;
    --color-background: #F9FAFB;
    --color-surface: #FFFFFF;
    --color-surface-accent: #F2F4F7;
    --color-text-primary: #101828;
    --color-text-secondary: #667085;
    --color-positive: #12B76A;
    --color-negative: #F04438;
    --color-warning: #F79009;
    --chart-tooltip-bg: var(--color-surface);
    --chart-tooltip-border: var(--color-surface-accent);
    --chart-axis-stroke: var(--color-text-secondary);
}
.dark {
    --color-primary: #7F56D9;
    --color-primary-hover: #9E77ED;
    --color-background: #101828;
    --color-surface: #1D2939;
    --color-surface-accent: #344054;
    --color-text-primary: #F2F4F7;
    --color-text-secondary: #98A2B3;
    --color-positive: #12B76A;
    --color-negative: #F04438;
    --color-warning: #F79009;
    --chart-tooltip-bg: var(--color-surface);
    --chart-tooltip-border: var(--color-surface-accent);
    --chart-axis-stroke: var(--color-text-secondary);
}

body {
    font-family: 'Inter', sans-serif;
}
